nav {
    width: 100%;
    display: flex;
    align-items: center; justify-content: space-between;
    padding: 0px 4rem;
    z-index: 2;
    position: sticky;
    top: 0;
    background-color: var(--base-1);

    & div.web-logo {
        height: 2rem; width: 6rem;
        margin: 1rem 0px;
        background: var(--white);
        mask-image: url('./../../../public/icons/logo.png');
        -webkit-mask-image: url('./../../../public/icons/logo.png');
        
        mask-size: contain;
        -webkit-mask-size: contain;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-position: center;
    }

    & ul {
        display: flex; gap: 2rem;
        align-items: center; justify-content: center;

        & li { 
            cursor: pointer; 
            background: var(--white);
        }

        & li.nav-page {
            font-size: 1rem;
            text-align: center;
            font-weight: bold;
            background-clip: text;
            color: transparent;
            -webkit-text-fill-color: transparent;
        }

        & li.nav-icon {
            width: 1.8rem; height: 1.8rem;

            mask-size: 1.6rem;
            -webkit-mask-size: 1.6rem;
            mask-repeat: no-repeat;
            -webkit-mask-repeat: no-repeat;
            mask-position: center;
            -webkit-mask-position: center;
        }
        
        & li.nav-icon#nav-notification {
            mask-image: url('./../../../public/icons/notification.png');
            -webkit-mask-image: url('./../../../public/icons/notification.png');
        }
        & li.nav-icon#nav-profile {
            mask-image: url('./../../../public/icons/profile.png');
            -webkit-mask-image: url('./../../../public/icons/profile.png');
        }
    }
}