@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0; margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Inter';
}

html, body {
  overflow: hidden;
  font-size: 16px;
}

a { text-decoration: none; }
ul { list-style: none; }
ul::-webkit-scrollbar { display: none; }

#root { height: 100vh; width: 100vw; }

:root {
  --gradient: linear-gradient(140deg, #89d7fe 0%, #378aff 100%);
  --color1: #89d7fe;
  --color2: #66a6ff;
  --color3: #378aff;

  --white: white;
  --black: #0f0d15;

  --base-1: #0f0d15;
  --base-2: #1d1a26;
  --base-3: rgb(17, 26, 42);
  --base-4: #3b3743;
  --base-5: #4b4858;
}

.flex-center {
  display: flex;
  align-items: center; justify-content: center;
}

