@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0; margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Inter';
}

html, body {
  overflow: hidden;
  font-size: 16px;
}

a { text-decoration: none; }
ul { list-style: none; }
ul::-webkit-scrollbar { display: none; }

#root { height: 100vh; width: 100vw; }

:root {
  --saffron: #FF671F;
  --white: #FFFFFF;
  --green: #046A38;
  --navy: #06038D;
  
  --black: #000000;
  
  --base-1: #000927;
  --base-2: #0d1064;
  --base-3: #292C6D;
  --base-4: #F5F7F8;

  --blue-1: #0060fa;
  --blue-2: #25baff;
  --blue-3: #c2e9fb;
  
  --gradient: linear-gradient(140deg, var(--blue-1) 0%, var(--blue-2) 100%);
  --gradient-i: linear-gradient(160deg, var(--saffron) 0%, var(--green) 100%);
}

.flex-center {
  display: flex;
  align-items: center; justify-content: center;
}

.bgrd-blur {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
}

.gradient-btn {
  cursor: pointer;
  border: none; outline: none;
  background: var(--bgrd);
  padding: .1rem;
  border-radius: 1000px;

  & div {
    background-color: var(--base-bgrd);
    border-radius: 1000px;
    padding: .4rem;
    width: 100%;

    & span {
      background: var(--bgrd);
      font-weight: bold;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
    }
  }
}